html, body {
    height: 100%;
}

body {
    margin: 0;
}

/* Change font on everything, excluding icons and icon buttons because they break and look funny respectively.*/
*:not(mat-icon):not(button[mat-icon-button]) {
    font-family: Poppins, sans-serif !important;
}